.oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary {
  color: #fff;
  background-color: #30456a;
  border-color: #30456a;
}

.btn-primary:hover {
  color: #fff;
  background-color: #152137;
  border-color: #152137;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #152137;
  border-color: #152137;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #152137;
  border-color: #152137;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem #30456a;
}

